RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^pet-care/?$    img.php    [NC,L]    # Handle requests for "pet-care"
RewriteRule    ^products/([0-9]+)/?$    img.php?userid=$1    [NC,L]    # Handle product requests
